@model BibliotecaLipe.Models.LivroEmprestimoViewModel

<!doctype html>
<html lang="pt-br">
<head>
    <title>Criar Empréstimo</title>
    <title>@ViewData["Title"]</title>
    <style>
        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .card-body img {
            object-fit: cover;
            height: 200px;
        }
    </style>
</head>
<body>

<div>
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- Card do livro -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Model.Livro.Titulo</h5>
                        <img src="@Model.Livro.CaminhoImagem" alt="Capa do livro" class="img-fluid py-2" style="width: 33%; height: 200px;">
                        <p class="card-text">Autor:</p>
                        <p>@Model.Livro.Autor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="text-center">Você deverá devolver até a seguinte data:</h4>
                        <form asp-action="Create" method="post">
                            <input type="hidden" asp-for="Emprestimo.LivroId"/>
                            <div>
                                <label asp-for="Emprestimo.DataDevolucao" class="form-label mt-4">Data de Devolução:</label>
                                <input asp-for="Emprestimo.DataDevolucao" type="date" class="form-control" readonly="readonly"/>
                                <span asp-validation-for="Emprestimo.DataDevolucao" class="text-danger"></span>
                            </div>
                        </form>
                        <div class="text-center mt-4">
                            <a class="btn btn-primary" asp-controller="Livro" asp-action="Details" asp-route-id="@Model.Livro.LivroID"> Voltar</a>
                            <input type="submit" value="Confirmar emprestimo" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}