@using Biblioteca.Models.Enums
@model IEnumerable<Emprestimo>

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success">
            <h2 class="mb-0 text-center text-white">Emprestimos ativos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var emprestimo in Model)
                    {
                        if (emprestimo.Status == Status.Ativo)
                        {
                            <tr>
                                <td>@emprestimo.Livro.Titulo</td>
                                <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                                <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                                <td>@emprestimo.Status</td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Detalhes</button>
                                    <button class="btn btn-success btn-sm">Devolver</button>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark">
            <h2 class="mb-0 text-center text-white">Emprestimos Devolvidos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Livro</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var emprestimo in Model)
                {
                    if (emprestimo.Status == Status.Encerrado)
                    {
                        <tr>
                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.Status</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Detalhes</button>
                                <button class="btn btn-success btn-sm">Devolver</button>
                            </td>
                        </tr>
                    }
               
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger">
            <h2 class="mb-0 text-center text-black">Emprestimos Vencidos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Livro</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var emprestimo in Model)
                {
                if (emprestimo.Status == Status.Vencido)
                {
                <tr>
                    <td>@emprestimo.Livro.Titulo</td>
                    <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                    <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                    <td>@emprestimo.Status</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Detalhes</button>
                        <button class="btn btn-success btn-sm">Devolver</button>
                    </td>
                </tr>
                }

                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark">
            <h2 class="mb-0 text-center text-white">Emprestimos Cancelados</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Livro</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var emprestimo in Model)
                {
                if (emprestimo.Status == Status.Cancelado)
                {
                <tr>
                    <td>@emprestimo.Livro.Titulo</td>
                    <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                    <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                    <td>@emprestimo.Status</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Detalhes</button>
                        <button class="btn btn-success btn-sm">Devolver</button>
                    </td>
                </tr>
                }

                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>