@using Biblioteca.Models.Enums
@model IEnumerable<Emprestimo>

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="py-2" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h2 class="text-center">Emprestimos</h2>
    <div style="display: flex; align-items: center;">
        <input type="text" placeholder="Pesquisar emprestimos..."
               style="padding: 8px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; width: 300px;">
        <button
            style="padding: 8px 16px; margin-left: 8px; font-size: 16px; background-color: #007bff; color: white; border: none; border-radius: 4px;">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
<div class="container mt-5">

    <div class="card">
        <div class="card-header bg-success">
            <h2 class="mb-0 text-center text-white">Emprestimos ativos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var emprestimo in Model)
                {
                    if (emprestimo.Status == Status.Ativo)
                    {
                        <tr>
                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.Status</td>
                            <td>
                                <form asp-action="Edit" method="post">
                                    <input type="hidden" name="id" value="@emprestimo.EmprestimoId"/>
                                    <button type="submit" class="btn btn-success btn-sm">Devolver</button>
                                </form>
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <form asp-action="Remove" method="post">
                                        <input type="hidden" name="id" value="@emprestimo.EmprestimoId"/>
                                        <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger">
            <h2 class="mb-0 text-center text-black">Emprestimos Vencidos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var emprestimo in Model)
                {
                    if (emprestimo.Status == Status.Vencido)
                    {
                        <tr>
                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.Status</td>
                            <td>
                                <form asp-action="Edit" method="post">
                                    <input type="hidden" name="id" value="@emprestimo.EmprestimoId"/>
                                    <button type="submit" class="btn btn-success btn-sm">Devolver</button>
                                </form>
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <form asp-action="Remove" method="post">
                                        <input type="hidden" name="id" value="@emprestimo.EmprestimoId"/>
                                        <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark">
            <h2 class="mb-0 text-center text-white">Emprestimos Devolvidos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var emprestimo in Model)
                {
                    if (emprestimo.Status == Status.Encerrado)
                    {
                        <tr>
                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.Status</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark">
            <h2 class="mb-0 text-center text-white">Emprestimos Cancelados</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var emprestimo in Model)
                {
                    if (emprestimo.Status == Status.Cancelado)
                    {
                        <tr>
                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.Status</td>
                            <td>
                                <button class="btn btn-success btn-sm">Realizar emprestimo</button>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <button class="btn btn-danger btn-sm">Excluir</button>
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>