@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BibliotecaLipe.Models.Livro

@{
    ViewBag.Title = "Detalhes do Livro";
    Layout = "_Layout";
}

<head>
    <style>
        .full-width-bg h2 {
            color: white;
        }

        .center-content {
            margin-top: 20px;
        }

        .image-container img {
            border: 5px solid #343a40;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        

        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .card-body img {
            object-fit: cover;
            height: 200px;
        }

    </style>
</head>
<body>
<div class="center-content">
    <div class="container col-md-6">
        <div class="row justify-content-center">
            <div class="card mb-3">
                <div class="pb-2 d-flex justify-content-between align-items-center">
                    <h4 class="mx-auto">@Model.Titulo</h4>
                </div>
                <div class="text-center">
                    <img src="@Model.CaminhoImagem" alt="Capa do Harry Potter" class="img-fluid py-2"
                         style="width: 40%; height: 100%;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Descrição</h5>
                    <p>@Model.Descricao</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Autor(a): @Model.Autor</li>
                    <li class="list-group-item">Data de publicação: @Model.DataPublicacao.ToString("d")</li>
                    <li class="list-group-item">Categoria: @Model.Categoria</li>
                    <li class="list-group-item">ISBN: @Model.ISBN</li>
                </ul>
                <div class="card-body text-center">
                    <form asp-controller="ListaDesejo" asp-action="Create" method="post">
                        <input type="hidden" name="livroId" value="@Model.LivroID" />
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-heart "></i> Adicionar a lista de desejo
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-warning " asp-action="Edit" asp-route-id="@Model.LivroID">
            <i class="bi bi-pencil-square"></i>
            Editar
        </a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.LivroID">
            <i
                class="bi bi-exclamation-triangle-fill">
            </i> Excluir
        </a>
    }
    <a asp-controller="Emprestimo" asp-action="Create" asp-route-livroId="@Model.LivroID" class="btn btn-success">Pegar Empréstimo</a>
</div>
</body>